.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  /* background:#764ba2 ; */
  height: 100vh;

  background-image: url('/avatars/new2.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  gap: 20px;
}

input, textarea {
  padding: 12px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

button {
  padding: 12px;
  background-color: #4CAF50;
  color: white;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
.form-heading {
  color: white;
  /* background-color: white; */
  padding: 10px 20px;
  border-radius: 8px;
  text-align: center;
  font-size: 24px;
}



